<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 引入layui样式 -->
    <link rel="stylesheet" th:href="${#httpServletRequest.getContextPath()} + '/layui/css/layui.css'">
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!-- 头部 -->
        <div class="layui-header">
            <!-- logo -->
            <div class="layui-logo">layui 后台布局</div>

            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                    </dl>
                </li>
            </ul>

            <!-- 右侧用户信息 -->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        <span sec:authentication="name"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>

        </div>

        <!-- 左侧导航 -->
        <div class="layui-side layui-bg-black">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li th:each="menu : ${mlist}" th:object="${menu}" class="layui-nav-item">
                    <a href="javascript:;" th:text="*{text}"></a>
                    <dl class="layui-nav-child">
                        <dd th:each="m : *{children}">
                            <a th:href="|javascript:skip_page('${m.href}')|"
                               th:text="${m.text}"></a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>

        <!-- 内容区域 -->
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div id="index_body_content" style="padding: 15px;">内容主体区域</div>
        </div>

        <!-- 底部页脚 -->
        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>

    <!-- 引入jquery资源库 -->
    <script type="text/javascript" th:src="${#httpServletRequest.getContextPath()} + '/jq/jquery.min.js'"></script>
    <!-- 引入layui资源库 -->
    <script type="text/javascript" th:src="${#httpServletRequest.getContextPath()} + '/layui/layui.all.js'"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>

    <script>

        //页面跳转方法
        function skip_page(page_url) {
            $.get(
                page_url,
                function(data) {
                    //把返回的页面填充到内容区域
                    $("#index_body_content").html(data);
                }
            );
        }
    </script>


</body>
</html>